*{
  margin: 0px;
}
.App {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: #303030;
}

.chatbubbleContainer::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}